/* styles.css or your component-specific CSS */
.container-fluid {
    padding-left: 25% !important;
}
.btn{
    margin-left: 2px;
    width: 40px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
}