 <!-- Sidebar -->
<app-sidebar></app-sidebar> 
 
<!-- Navbar -->
<app-navbar customTitle="Schedule Appointment"></app-navbar>

 <!-- Content -->

  <div class="container-fluid py-4">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex align-items-center">

              <div class="card-body">
                <p class="text-uppercase text-sm">Patient Information</p>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="patientName" class="form-control-label" >Name</label>
                      <input id="patientName" class="form-control" type="text" [value]="patientName" disabled>
                    </div>
                  </div>
              </div>

              <label for="specialty" class="mb-0">Specialty</label> &nbsp;&nbsp;
              <select id="specialty" class="form-control" [(ngModel)]="selectedSpecialty" (ngModelChange)="onSpecialtyChange($event)">
                <option>All Specialties</option>
                <option>Anesthesiology</option>
                <option>Cardiology</option>
                <option>Dermatology</option>
                <option>Emergency Medicine</option>
                <option>Endocrinology</option>
                <option>Family Medicine</option>
                <option>Gastroenterology</option>
                <option>General Surgery</option>
                <option>Internal Medicine</option>
                <option>Neurology</option>
                <option>Orthopedics</option>
                <option>Pediatrics</option>
                <option>Urology</option>
              </select>
              &nbsp;&nbsp;
              <label for="physicianName"></label>
              <select name="physicianName" id="physicianName" class="form-control" [(ngModel)]="physicianSelected">
                <option *ngIf="!physicians || physicians.length === 0" disabled selected>No Doctors Available</option>
                <option *ngFor="let physician of physicians" [value]="physician._id">
                  {{ physician.fullname }}
                </option>
              </select>

              &nbsp;&nbsp;

            <label for="dateSelected" class="mb-0" >Appointment Date:</label> &nbsp;&nbsp;
            <div class="form-group">
              <input id="dateSelected" class="form-control" type="date" (change)="onDateChange($event)">
            </div>

            <label for="appointmentSelected" class="mb-0">Appointment Time:</label> &nbsp;&nbsp;
            <div class="form-group">
              <select name="" id="appointmentSelected" class="form-control" [(ngModel)]="appointmentSelected">
                <option *ngIf="!appointments || appointments.length === 0" disabled selected>No Appointments Available</option>
                <option *ngFor="let appointment of appointments" [value]="appointment._id">
                  {{ appointment.start_time}}
                </option>
              </select>
            </div>
            &nbsp;&nbsp;

            <button class="btn btn-primary" (click)="scheduleAppointment()">Schedule appointment</button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
