<!--Generic form used in different parts of the app, the developer should identify what type of operation or role is creating and the form will adjust-->
<form #userToSaveForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="row" [hidden]="typeOfForm==='Patient'">
        <div class="col-sm"><b>Type of user:</b></div>
        <div class="form-check col-sm">
            <input class="form-check-input" type="radio" name="role" id="Patient" value="Patient" [(ngModel)]="userToSave.role" [disabled]="typeOfForm=='Edit'">
            <label class="custom-control-label" for="Patient">Patient</label>
        </div>
        <div class="form-check col-sm">
            <input class="form-check-input" type="radio" name="role" id="Physician" value="Physician" [(ngModel)]="userToSave.role" [disabled]="typeOfForm=='Edit'">
            <label class="custom-control-label" for="Physician">Physician</label>
        </div>
        <div class="form-check col-sm">
            <input class="form-check-input" type="radio" name="role" id="Staff" value="Staff" [(ngModel)]="userToSave.role" [disabled]="typeOfForm=='Edit'">
            <label class="custom-control-label" for="Staff">Staff</label>
        </div>
    </div>
    <div class="form-group" [hidden]="userToSave.role!='Physician'">
        <label for="specialty" class="form-control-label">Specialty</label>
        <input class="form-control" type="text" required [(ngModel)]="userToSave.specialty" [ngModelOptions]="{standalone: true}" [disabled]="typeOfForm=='Edit'"  id="specialty">
    </div>
    <div class="form-group">
        <label for="fullname" class="form-control-label">Full Name</label>
        <input class="form-control" type="text" required [(ngModel)]="userToSave.fullname" [ngModelOptions]="{standalone: true}" id="fullname">
    </div>
    <div class="form-group">
        <label for="email" class="form-control-label">Email</label>
        <input class="form-control" type="email" id="email" [(ngModel)]="userToSave.email" [ngModelOptions]="{standalone: true}" [disabled]="typeOfForm=='Edit'">
    </div> 
    <div class="form-group">
        <label for="password" class="form-control-label">Password</label>
        <input class="form-control" type="password" [hidden]="typeOfForm=='Edit'" [(ngModel)]="userToSave.password" [ngModelOptions]="{standalone: true}" id="password">
    </div>
    <div class="form-group">
        <label for="reenter-password" class="form-control-label">Confirm Password</label>
        <input class="form-control" type="password" [hidden]="typeOfForm=='Edit'" [(ngModel)]="userToSave.confirmPassword" [ngModelOptions]="{standalone: true}" id="reenter-password">
    </div>
    <div class="row">
        <div class="col-sm"><b>Gender</b></div>
        <div class="form-check col-sm">
            <input class="form-check-input" type="radio" name="gender" value="Female" [(ngModel)]="userToSave.gender" id="Female" [disabled]="typeOfForm=='Edit'">
            <label class="custom-control-label" for="Female">Female</label>
        </div>
        <div class="form-check col-sm">
            <input class="form-check-input" type="radio" name="gender" id="Male" value="Male" [(ngModel)]="userToSave.gender" [disabled]="typeOfForm=='Edit'">
            <label class="custom-control-label" for="Male">Male</label>
        </div>
        <div class="form-check col-sm">
            <input class="form-check-input" type="radio" name="gender" id="Other" value="Other" [(ngModel)]="userToSave.gender" [disabled]="typeOfForm=='Edit'">
            <label class="custom-control-label" for="Other">Other</label>
        </div>
    </div>
   
    <div class="form-group">
        <label for="birthdate" class="form-control-label">Date of Birth</label>
        <input class="form-control" type="date" id="birthdate" (change)="onChangeDate()" [(ngModel)]="userToSave.birthdateString" [ngModelOptions]="{standalone: true}" [disabled]="typeOfForm=='Edit'">
    </div>
    <div class="form-group">
        <label for="healthcard" class="form-control-label">Health card</label>
        <input class="form-control" type="text" [(ngModel)]="userToSave.healthcard" [ngModelOptions]="{standalone: true}" id="healthcard">
    </div>
    <button type="submit" class="btn bg-gradient-primary" >Save</button>
    <button type="button" class="btn bg-gradient-danger" (click)="returnToPreviousRoute()" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
    <button type="reset" class="btn bg-gradient-warning" [hidden]="typeOfForm=='Patient' || typeOfForm=='Edit'">Reset Form</button>

</form>
