<app-sidebar></app-sidebar>

<!-- Navbar -->
<app-navbar customTitle="Home"></app-navbar>

<!--Appointments table-->
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Historial</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Doctor</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Patient</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Role</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status
                  </th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Start</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">End</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cancel</th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of appointments">
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div>
                        <img src="../assets/img/user.png" class="avatar avatar-sm me-3" alt="user1">
                      </div>
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ item.physician_email.fullname }}</h6>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <h6 class="mb-0 text-sm">{{ item.patient_email.fullname }}</h6>
                      </div>
                    </div>
                  </td>

                  <td>
                    <p class="text-xs font-weight-bold mb-0">Physician</p>
                    <p class="text-xs text-secondary mb-0">{{ item.physician_email.specialty }}</p>
                  </td>

                  <td class="align-middle text-center text-sm">
                    <span *ngIf="isToday(item.date)" class="badge badge-sm bg-gradient-primary">Active</span>
                    <span *ngIf="isPastDate(item.date)" class="badge badge-sm bg-gradient-secondary">Attended</span>
                    <span *ngIf="isFutureDate(item.date)" class="badge badge-sm bg-gradient-warning">Pending</span>
                  </td>


                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ item.date }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ item.start_time }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <span class="text-secondary text-xs font-weight-bold">{{ item.end_time }}</span>
                  </td>
                  <td class="align-middle text-center">
                    <button *ngIf="isFutureDate(item.date)" class="btn btn-danger btn-sm" (click)="cancelAppointment(item._id)">Cancel</button>
                  </td>

                  <td class="align-middle">
                    <div >
                      <a href="/chat-room/{{ item._id }}" class="text-secondary font-weight-bold text-xs"
                      data-toggle="tooltip" data-original-title="Edit user"
                      *ngIf="isToday(item.date); else pastOrFutureDate">
                      Join
                    </a>
                    <ng-template #pastOrFutureDate>
                      <a href="/chat-room/{{ item._id }}" class="text-secondary font-weight-bold text-xs"
                        data-toggle="tooltip" data-original-title="Edit user">
                        {{ isPastDate(item.date) ? "Follow-up" : "" }}
                      </a>
                    </ng-template>
                    </div>
                  </td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>